<!DOCTYPE html>
<html>
<head>
    <title>Оформление бронирования</title>
</head>
<body>
    <div>
        Здраствуйте, @User.Identity.Name
        <h3>Форма оформления бронирования</h3>
        <p>Для оформления бронирования заполните следующие поля:</p>
        <form method="post">
            <input type="hidden" value="@ViewBag.BookId" name="BookId" />
            <table>
                <tr>
                    <td>Адрес:</td>
                    <td><input type="text" name="Address" /></td>
                </tr>
                <tr>
                    <td>Телефон:</td>
                    <td><input type="text" name="ContactPhone" /></td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>