<!DOCTYPE html>
<html>
<head>
    <title>Оформление бронирования</title>
</head>
<body>
    <div>
        Здраствуйте, @User.Identity.Name
        <p>Вы успешно забронировали книгу.</p>
        <p>Книга будет забронирована на Ваше имя в течение семи дней с сегодняшнего дня.</p>
        <p>Чтобы завершить бронирование, нажмите кнопку "Продолжить"</p>
        <form method="post">
            <input type="submit" value="Продолжить" />
        </form>
    </div>
</body>
</html>