@using BusinessLayer.Models.BookDTO; 
@model EditBookViewModel
@{
    ViewBag.Title = "Редактирование книги";
}
<form asp-action="Edit" asp-controller="Books" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Genre" class="control-label">Жанр</label>
        <input type="text" asp-for="Genre" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Author" class="control-label">Автор</label>
        <input type="text" asp-for="Author" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Publisher" class="control-label">Издательство</label>
        <input type="text" asp-for="Publisher" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Описание</label>
        <textarea asp-for="Description" rows="10" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label class="control-label">Обложка</label>
        <input type="file" name="uploadedFile" /><br>
    </div>

    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
    </div>
</form>