@model IEnumerable<Library.Models.Book>
@{
    ViewBag.Title = "Список книг";
}
<form method="post" asp-controller="Account" asp-action="CreateBook">
    <input type="submit" value="Добавить книгу" />
</form>
<hr />
<table class="table">
    <tr bgcolor="#D3D3D3" align="center"><td><strong>Название</strong></td><td><strong>Жанр</strong></td><td><strong>Автор</strong></td><td><strong>Издательство</strong></td></tr>

    @foreach (var item in Model)
    {
        <tr align="center"><td>@item.Name</td><td>@item.Genre</td><td>@item.Author</td><td>@item.Publisher</td></tr>
    }
</table>