<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="~/Home/Index" class="navbar-brand">Главная</a></li>
                </ul>
            </div>
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (this.User.IsInRole("Клиент"))
                    {
                        <form method="post" asp-controller="Orders" asp-action="UserOrders">
                            <input type="submit" value="Мои брони" />
                        </form>
                    }
                    @if (this.User.IsInRole("Библиотекарь"))
                    {
                        <form method="post" asp-controller="Orders" asp-action="AllOrders">
                            <input type="submit" value="Все брони" />
                        </form>
                    }
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <input type="submit" value="Выход" />
                    </form>
                }
                else
                {
                    <form method="post" asp-controller="Account" asp-action="Login">
                        <input type="submit" value="Вход" />
                    </form>
                    <form method="post" asp-controller="Account" asp-action="Register">
                        <input type="submit" value="Регистрация" />
                    </form>
                }
            </div>
        </div>
    </nav>

    <!--основной контент-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>© 2020 - Library</p>
        </footer>
    </div>
</body>
</html>