@{
    ViewData["Title"] = "Домашняя страница";
}

@if (this.User.IsInRole("Клиент"))
{
    <p>Добро пожаловать, @ViewBag.UserName!</p>
}
else
{
    <p>Добро пожаловать!</p>
}

<form method="post" asp-controller="Books" asp-action="Index">
    <input type="submit" value="Список книг" />
</form>

@if (this.User.IsInRole("Администратор"))
{
    <form method="post" asp-controller="Users" asp-action="Index">
        <input type="submit" value="Список пользователей" />
    </form>

    <form method="post" asp-controller="Roles" asp-action="Index">
        <input type="submit" value="Список ролей" />
    </form>
}

@if (this.User.IsInRole("Библиотекарь"))
{
    <form method="post" asp-controller="Reports" asp-action="ReportIndex">
        <input type="submit" value="Отчеты" />
    </form>
}