@model IEnumerable<Library.Models.Book>
@{
    ViewData["Title"] = "Каталог книг";
}
<h3>Книги</h3>
<table class="table-condensed">
    <tr>
        <td>Название</td>
        <td>Жанр</td>
        <td>Наличие</td>
        <td></td>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Name</td>
            <td>@book.Genre</td>
            <td>@book.Availability</td>
            <td><a href="~/Home/Booking/@book.Id">Забронировать</a></td>
        </tr>
    }
</table>